/* imported fonts from google */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    scroll-behavior: smooth;
    margin: 0;
}
body {
    --text: #eaf4ed;
    --background: #090a11;
    --primary: #aad2b5;
    --secondary: #375568;
    --accent: #757fb6;
}
body {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    background-color: var(--background);
    color: var(--text);
    word-wrap: break-word;
    margin-left: 0;
    margin-right: 0;
}
img {
    background: none;
}

/* top nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
    top: 0;
}
#topnav {
    display: flex;
    gap: 50px;
}
#topnav a {
    text-decoration: none;
    color: var(--text);
    opacity: 90%;
}
#topnav a::after {
    content: " ";
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--accent);
    transition: width 0.4s;
    opacity: 100%;
}
#topnav a:hover::after {
    width: 100%;
}
#topnav a:hover {
    color: var(--accent);
    opacity: 100%;
}
.btn {
    color: var(--text);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 400;
    text-decoration: none;
    transition: width 1s, height 1s, transform 1s;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0.5px solid rgba(255, 255, 255, 0.23);
    border: 1px solid rgba(255, 255, 255, 0.23);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.23) inset;
}
.btn:hover {
    transform: scale(1.1);
    background: none;
}
#titlename {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text);
    gap: 8px;
}
#top-logo {
    width: 25px;
}
#titlename h1 {
    opacity: 80%;
}
#titlename:hover {
    opacity: 70%;
}
@media only screen and (max-width: 768px) {
    #linkedin-btn, #topnav a {
        display: none;
    }
}

@media only screen and (max-width: 950px) {
    #linkedin-btn {
        display: none;
    }
}

/* mobile nav */
#mobile-nav-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--background);
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
    align-content: center;
    padding-top: 15px;
}
.mobile-nav-link {
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    color: var(--text);
    opacity: 75%;
    display: block;
    transition: 0.3s;
}
#button-container-m {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.closemobilebtn {
    color: var(--text);
    opacity: 50%;
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
    text-decoration: none;
    cursor: pointer;
}
#top-menu-container {
    display: none;
    width: 50px;
    cursor: pointer
}
#top-menu-btn {
    display: flex;
    background: rgba(255, 255, 255, 0.10);
	border-radius: 50%;
	position: static;
	width: 40px;
	height: 40px;
	margin-block: auto;
	margin-inline: auto;
	justify-content: center;
	align-items: center;
	cursor: pointer;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0.5px solid rgba(255, 255, 255, 0.23);
    border: 1px solid rgba(255, 255, 255, 0.23);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.23) inset;
}
#top-menu-btn img {
    opacity: 75%;
    width: 65%;
}
@media only screen and (max-width: 768px) {
    #top-menu-container {
        display: flex;
    }
}

/* blobs css */
#blob-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110dvh;
    overflow: hidden;
    z-index: -5;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--background);
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
}
.blob {
    height: 30vmax;
	aspect-ratio: 1;
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	filter: blur(100px);
    z-index: -99;
    opacity: 50%;
}
#blob-top {
    transform: translate(100%, -170%);
	background: var(--accent);
}
#blob-mobile-nav-1 {
    transform: translate(0%, 0%);
	background: var(--accent);
}
#blob-mobile-nav-2 {
    transform: translate(-125%, -175%);
	background: linear-gradient(var(--accent), var(--secondary));
}

/* Main content */
#main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
}
#background-container {
    position: absolute;
    z-index: -1;
}
#big-404 {
    font-family: "Istok Web", serif;
    font-weight: 550;
    font-size: 35rem;
    background: linear-gradient(rgba(117, 127, 182, 0.6), rgba(9, 10, 17, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
    opacity: 50%;
}
#bottom-blob {
    height: 325px;
    width: 1000px;
	aspect-ratio: 1;
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	filter: blur(100px);
    transform: translate(-50%, -10%);
	background: var(--secondary);
}
#front-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
}
.front-itm {
    margin: 5px;
}
#front-btn {
    margin-top: 30px;
}
#front-title {
    margin-bottom: 30px;
}
#front-container p {
    font-weight: 400;
    font-size: 110%;
    opacity: 75%;
    color: var(--text);
}
#front-container h1 {
    background: linear-gradient(#aad2b5, #757fb6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
@media only screen and (max-width: 1000px) {
    #bottom-blob {
        height: 225px;
        width: 800px;
    }
    #big-404 {
        font-size: 25rem;
    }
}
@media only screen and (max-width: 820px) {
    #bottom-blob {
        height: 200px;
        width: 600px;
    }
    #big-404 {
        font-size: 20rem;
    }
}
@media only screen and (max-width: 610px) {
    #bottom-blob {
        display: none;
    }
    #main-content {
        flex-direction: column;
    }
    #background-container {
        position: static;
        z-index: 0;
    }
    #big-404 {
        font-size: 15rem;
        opacity: 100%;
    }
}
@media only screen and (max-width: 510px) {
    #big-404 {
        font-size: 10rem;
    }
    #front-container p {
        font-size: 100%;
    }
}
@media only screen and (max-width: 470px) {
    
}

/* footer */
footer {
    text-align: center;
    padding: 1%;
    overflow: hidden;
    color: var(--text);
    opacity: 75%;
}
#author-footer a {
    text-decoration: none;
    color: var(--text);
}