/* imported fonts from google */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html {
    scroll-behavior: smooth;
    margin: 0;
}
body {
    --text: #eaf4ed;
    --background: #090a11;
    --primary: #aad2b5;
    --secondary: #375568;
    --accent: #757fb6;
}
body {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    background-color: var(--background);
    color: var(--text);
    word-wrap: break-word;
    margin-left: 0;
    margin-right: 0;
}
img {
    background: none;
}

/* top nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
    top: 0;
}
#topnav {
    display: flex;
    gap: 50px;
}
#topnav a {
    text-decoration: none;
    color: var(--text);
    opacity: 90%;
}
#topnav a::after {
    content: " ";
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--accent);
    transition: width 0.4s;
    opacity: 100%;
}
#topnav a:hover::after {
    width: 100%;
}
#topnav a:hover {
    color: var(--accent);
    opacity: 100%;
}
.btn {
    color: var(--text);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 400;
    text-decoration: none;
    transition: width 1s, height 1s, transform 1s;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0.5px solid rgba(255, 255, 255, 0.23);
    border: 1px solid rgba(255, 255, 255, 0.23);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.23) inset;
}
.btn:hover {
    transform: scale(1.1);
    background: none;
}
#titlename {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text);
    gap: 8px;
}
#top-logo {
    width: 25px;
}
#titlename h1 {
    opacity: 80%;
}
#titlename:hover {
    opacity: 70%;
}
@media only screen and (max-width: 768px) {
    #linkedin-btn, #topnav a {
        display: none;
    }
}

@media only screen and (max-width: 950px) {
    #linkedin-btn {
        display: none;
    }
}

/* mobile nav */
#mobile-nav-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--background);
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
    align-content: center;
    padding-top: 15px;
}
.mobile-nav-link {
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    color: var(--text);
    opacity: 75%;
    display: block;
    transition: 0.3s;
}
#button-container-m {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.closemobilebtn {
    color: var(--text);
    opacity: 50%;
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
    text-decoration: none;
    cursor: pointer;
}
#top-menu-container {
    display: none;
    width: 50px;
    cursor: pointer
}
#top-menu-btn {
    display: flex;
    background: rgba(255, 255, 255, 0.10);
	border-radius: 50%;
	position: static;
	width: 40px;
	height: 40px;
	margin-block: auto;
	margin-inline: auto;
	justify-content: center;
	align-items: center;
	cursor: pointer;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0.5px solid rgba(255, 255, 255, 0.23);
    border: 1px solid rgba(255, 255, 255, 0.23);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.23) inset;
}
#top-menu-btn img {
    opacity: 75%;
    width: 65%;
}
@media only screen and (max-width: 768px) {
    #top-menu-container {
        display: flex;
    }
}

/* intro section and transition */
#intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110dvh;
    overflow: hidden;
    z-index: -5;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--background);
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
}
#mobile-top-text {
    display: none;
}
#intro-btm-text {
    text-align: left;
    word-wrap: normal;
}
#desktop-top-text {
    font-size: 6.5rem;
    font-weight: 700;
    font-family: "Rubic", sans-serif;
    color: var(--accent);
    -webkit-text-fill-color: var(--background);
    -webkit-text-stroke: 3.5px var(--accent);
    margin: 0;
    margin-bottom: 50px;
    transform: translate(-120px, 0px);
}
#intro-container-top {
    display: flex;
}
#intro-first-itm {
    font-weight: 650;
    font-size: 5.5rem;
    background: linear-gradient(#aad2b5, #757fb6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
}
#intro-second-itm {
    font-weight: 650;
    font-size: 5.5rem;
    background: linear-gradient(#757fb6, #aad2b5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
}
#intro-buttons-desktop {
    display: flex;
    gap: 15px;
    padding-top: 10px;
}
#intro-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#memoji-img {
    width: 400px;
}
#down-arrow-intro {
    transform: translate(0px, 60px);
    opacity: 75%;
}
#down-arrow-intro:hover {
    opacity: 50%;
}
#mobile-intro-socials {
    display: flex;
	width: 200px;
	height: 60px;
}
.mobile-intro-socials-itm {
    display: flex;
    background: rgba(255, 255, 255, 0.10);
    border-radius: 50%;
    position: static;
    width: 40px;
    height: 40px;
    margin-block: auto;
    margin-inline: auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0.5px solid rgba(255, 255, 255, 0.23);
    border: 1px solid rgba(255, 255, 255, 0.23);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.23) inset;
}
#mobile-intro-socials img {
    opacity: 75%;
}
#intro-socials-mobile {
    display: none;
}
@media only screen and (max-width: 800px) {
    #intro-container-top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #mobile-top-text {
        display: flex;
    }
    #mobile-top-text h2{
        font-size: 5.5rem;
        font-weight: 700;
        font-family: "Rubic", sans-serif;
        color: var(--accent);
        -webkit-text-fill-color: var(--background);
        -webkit-text-stroke: 3.5px var(--accent);
        margin: 0;
    }
    #desktop-top-text, #intro-buttons-desktop {
        display: none;
    }
    #intro-btm-text {
        text-align: center;
    }
    #down-arrow-intro {
        transform: translate(0px, 0px);
        opacity: 75%;
    }
    #memoji-img {
        width: 300px;
    }
    #intro-btm-text h3 {
        font-size: 4.5rem;
    }
    #intro-socials-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 790px) {
    #intro-first-itm, #intro-second-itm {
        font-size: 5rem;
    }
}
@media only screen and (max-width: 930px) {
    #intro-cs {
        display: none;
    }
}
@media only screen and (max-width: 1125px) {
    #intro-hello {
        display: none;
    }
}
@media only screen and (min-width: 1240px) {
    #intro-btm-text h3 {
        font-size: 6.5rem;
    }
    #desktop-top-text {
        font-size: 7.5rem;
    }
}
@media only screen and (min-width: 1400px) {
    #intro-btm-text h3 {
        font-size: 7.5rem;
    }
    #desktop-top-text {
        font-size: 8.5rem;
    }
    #memoji-img {
        width: 500px;
    }
}
@media only screen and (max-width: 600px) {
    #mobile-top-text h2 {
        font-size: 4.5rem;
    }
    #intro-btm-text h3 {
        font-size: 3.5rem;
    }
}
@media only screen and (max-width: 380px) {
    #memoji-img {
        height: 200px;
        width: 200px;
    }
}
@media only screen and (max-height: 680px) and (max-width: 400px) {
    #memoji-img {
        width: 200px;
    }
}

/* main content container */
#main-content-container {
    position: absolute;
    top: 100vh;
    width: 100%;
}

/* about section */
#about {
    height: auto;
    background: linear-gradient(var(--secondary), #1a2932);
    padding: 3%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    width: 100%;
}
#about-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-content: center;
}
#about-pfp {
    width: 35dvw;
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 0.5px solid rgba(255, 255, 255, 0.23);
    border: 1px solid rgba(255, 255, 255, 0.23);
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.23) inset;
    transition: width 1s, height 1s, transform 1s;
}
#about-pfp:hover {
    transform: scale(1.03);
}
#location {
    opacity: 75%;
    font-weight: 500;
    font-size: 100%;
}
#location-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    color: var(--primary)
}
#location-container img {
    width: 25px;
    height: 25px;
    opacity: 75%;
}
#about p {
    font-weight: 400;
    font-size: 110%;
    opacity: 75%;
    color: var(--text);
}
#about a {
    font-weight: 500;
    font-size: 110%;
    background: linear-gradient(180deg, #aad2b5, #8a92c1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
#about h1 {
    background: radial-gradient(#aad2b5, #757fb6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
#about-image {
    display: flex;
    align-items: center;
}
#about-paragraph {
    background: rgba(255, 255, 255, 0.10);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0.5px solid rgba(255, 255, 255, 0.23);
    border: 1px solid rgba(255, 255, 255, 0.23);
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.23) inset;
    padding: 5px 25px;
    margin-top: 25px;
    transition: width 1s, height 1s, transform 1s;
}
#about-paragraph:hover {
    transform: scale(1.03);
    background: none;
}
#about-keywords {
    margin-top: 25px;
    display: flex;
    flex-flow: row wrap;
    gap: 25px;
}
.about-words {
    background: rgba(255, 255, 255, 0.10);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0.5px solid rgba(255, 255, 255, 0.23);
    border: 1px solid rgba(255, 255, 255, 0.23);
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.23) inset;
    text-align: center;
    padding: 10px 20px;
    transition: width 1s, height 1s, transform 1s;
}
.about-words:hover {
    transform: scale(1.1);
    background: none;
}
@media only screen and (max-width: 500px) {
    .about-words {
        font-size: 80%;
    }
}
@media only screen and (max-width: 768px) {
    #about-container {
        flex-direction: column;
        gap: 10px;
    }
    #about-pfp {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
    #about h1 {
        text-align: center;
    }
    #location-container {
        justify-content: center;
        align-items: center;
    }
    #about-keywords {
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (min-width: 1200px) {
    #about-pfp {
        width: 25dvw;
    }
}

/* skills section */
#skills {
    height: auto;
    background: linear-gradient(#1a2932, var(--secondary));
    padding: 3%;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
}
#hover-text {
    font-weight: 400;
    font-size: 90%;
    opacity: 50%;
    text-align: center;
}
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 50px;
    justify-content: center;
    align-content: center;
    overflow: hidden;
  }
.skill-item img {
    border-radius: 8px;
    width: 50px;
}
.skill-image {
    align-content: center;
}
.skill-item {
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
}
.skill-text p {
    font-weight: 400;
    font-size: 110%;
    opacity: 75%;
}
.skill-text h3 {
    font-weight: 700;
    background: linear-gradient(180deg, #aad2b5, #757fb6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.skill-item-all {
    position: relative;
    width: auto;
    height: auto;
}
.initial-image {
    display: block;
    width: 250px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    overflow: hidden;
}
.skill-item-all:hover .initial-image {
    opacity: 0;
}
.skill-item-all:hover .overlay {
    opacity: 1;
}
#skill-show-btn, #skill-less-btn {
    display: none;
    width: 125px;
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.skill-img-default {
    display: flex;
}
.skill-img-mobile {
    display: none;
    width: 20%; 
    height: 40%; 
    object-fit: cover; 
    object-position: 50% 0;
}
@media (pointer: coarse) and (hover: none) {
    .initial-image {
        opacity: 0;
    }
    .overlay {
        opacity: 1;
    }
    #hover-text {
        display: none;
    }
    .skill-img-default {
        display: none;
    }
    .skill-img-mobile {
        display: flex;
    }
}
@media only screen and (min-width: 1000px) {
    .initial-image {
        width: 245px;
    }
}
@media only screen and (min-width: 1500px) {
    .initial-image {
        width: 300px;
    }
}
@media only screen and (max-width: 601px) {
    #skill-show-btn {
        display: block;
    }
    #extra-skill-1, #extra-skill-2, #extra-skill-3, #extra-skill-4, #extra-skill-5, #extra-skill-6, #extra-skill-7, #extra-skill-8 {
        display: none;
    }
}

/* projects section */
#projects {
    height: auto;
    background: linear-gradient(var(--secondary), #1a2932);
	padding: 3%;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
}
.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 25px;
    overflow-x: scroll;
    padding-bottom: 20px;
    scroll-behavior: smooth;
}

.scrolling-wrapper::-webkit-scrollbar {
    height: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}

.scrolling-wrapper::-webkit-scrollbar-thumb {
    background-color: #5c6493;
    border-radius: 20px;
}

.scrolling-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent);
}

.project-card {
    flex: 0 0 auto;
    background: rgba(255, 255, 255, 0.10);
    width: 400px;
    height: auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0.5px solid rgba(255, 255, 255, 0.23);
    border: 1px solid rgba(255, 255, 255, 0.23);
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.23) inset;
    transition: .5s;
}
.project-card:hover .project-overlay {
    opacity: 1;
}
.project-overlay {
    transition: .5s;
    opacity: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.project-btn {
    color: var(--text);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 400;
    text-decoration: none;
    background: var(--accent);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 0.5px solid rgba(255, 255, 255, 0.23);
    border: 1px solid rgba(255, 255, 255, 0.23);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.23) inset;
    transition: width 1s, height 1s, transform 1s;
    opacity: 95%;
}
.project-btn:hover {
    transform: scale(1.1);
    opacity: 85%;
    cursor: pointer;
}
.project-img {
    border-radius: 15px;
    width: 75%;
    height: 75%;
    transition: width 1s, height 1s, transform 1s;
}
.project-img:hover {
    transform: scale(1.1);
}
.project-card h2 {
    font-weight: 650;
    font-size: 1.5rem;
    text-align: center;
    background: linear-gradient(175deg, #aad2b5, #757fb6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: width 1s, height 1s, transform 1s;
    padding: 0% 3%;
}
#scroll-text {
    font-weight: 400;
    font-size: 90%;
    opacity: 50%;
    text-align: center;
}
.project-card h2:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.project-card h3 {
    font-weight: 400;
    font-size: 110%;
    opacity: 75%;
    text-align: center;
    margin: 8%;
}
#resume-img {
    width: 50px;
    opacity: 75%;
}
.project-popout {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--background);
    background-color: rgba(9,10,17, 0.97);
    overflow-y: scroll;
    transition: 0.5s;
}
.project-popout-content {
    position: relative;
    top: 20%;
    width: 100%;
}
.project-popout .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 55px;
    text-decoration: none;
    color: var(--text);
    opacity: 75%;
}
.project-popout .closebtn:hover {
    opacity: 50%;
}
.popout-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-content: center;
    margin: 50px;
}
.popout-pic {
    width: 35dvw;
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 0.5px solid rgba(255, 255, 255, 0.23);
    border: 1px solid rgba(255, 255, 255, 0.23);
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.23) inset;
    transition: width 1s, height 1s, transform 1s;
    overflow: hidden;
}
.popout-pic:hover {
    transform: scale(1.03);
}
.popout-container p {
    font-weight: 400;
    font-size: 110%;
    opacity: 75%;
    color: var(--text);
}
.popout-container h1 {
    background: radial-gradient(#aad2b5, #757fb6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.popout-container h2 {
    font-weight: 450;
    font-size: 120%;
    opacity: 75%;
}
.project-year {
    color: var(--text);
    opacity: 50%;
    font-weight: 500;
    font-size: 70%;
    -webkit-text-fill-color: var(--text);
    padding-left: 10px;
}
.project-popout-image {
    display: flex;
    align-items: center;
}
.project-popout-paragraph {
    background: rgba(255, 255, 255, 0.10);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0.5px solid rgba(255, 255, 255, 0.23);
    border: 1px solid rgba(255, 255, 255, 0.23);
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.23) inset;
    padding: 5px 25px;
    margin-top: 25px;
    transition: width 1s, height 1s, transform 1s;
}
.project-popout-paragraph:hover {
    transform: scale(1.03);
    background: none;
}
.project-popout-text {
    max-width: 50%;
}
.p-overlay-btn {
    color: var(--text);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 400;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0.5px solid rgba(255, 255, 255, 0.23);
    border: 1px solid rgba(255, 255, 255, 0.23);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.23) inset;
    transition: width 1s, height 1s, transform 1s;
    display: inline-block;
    margin-top: 25px;
    opacity: 85%;
}
.p-overlay-btn:hover {
    transform: scale(1.1);
    background: none;
}
.project-btn-mobile {
    color: var(--text);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 400;
    text-decoration: none;
    background: var(--accent);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 0.5px solid rgba(255, 255, 255, 0.23);
    border: 1px solid rgba(255, 255, 255, 0.23);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.23) inset;
    margin-bottom: 25px;
    opacity: 95%;
    cursor: pointer;
    display: none;
}
.overlay-projects-links-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
@media (pointer: coarse) and (hover: none) {
    .project-overlay {
        display: none;
    }
    .project-btn-mobile {
        display: block;
    }
}
@media only screen and (max-width: 992px) {
    .project-card {
        width: 300px;
    }
}
@media only screen and (max-width: 768px) {
    .popout-container {
        flex-direction: column;
        gap: 10px;
    }
    .popout-pic {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .project-popout h1, .project-popout h2 {
        text-align: center;
    }
    .project-popout-content {
        top: 10%;
    }
    .project-popout-text {
        max-width: 100%;
    }
    .p-overlay-btn, #uibydivi-socials, .other-social-bar {
        margin-bottom: 20px;
    }
    .overlay-projects-links-container {
        justify-content: center;
        align-items: center;
    }
}

/* contact section */
#contact {
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    background: linear-gradient(#1a2932, var(--secondary));
    height: auto;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
}
#contact img {
    width: 25px;
    padding: 4px;
}
#contact-items {
    display: grid;
    gap: 50px;
    grid-template-columns: 15% 20% 15% 15%;
    grid-template-rows: auto auto;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    padding-bottom: 100px;
}
#contact-itm1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
#contact-itm2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
#contact-itm3 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}
#contact-itm4 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
#contact-itm5 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}
#contact-itm5:hover {
    cursor: pointer;
}
#contact a {
    text-decoration: none;
    color: var(--text);
}
#contact p {
    font-weight: 400;
    font-size: 110%;
    opacity: 75%;
}
#contact h3 {
    font-weight: 500;
    font-size: 1.45rem;
}
#contact h2 {
    font-weight: 600;
    font-size: 2rem;
}
.bottom-link:hover {
    h3 {
        color: var(--primary);
        opacity: 100%;
    }
}
#email-link-container {
    display: flex;
    margin: 0;
    padding: 0;
}
#email-link {
    font-weight: 400;
    font-size: 120%;
    color: var(--text);
    opacity: 75%;
    text-decoration: none;
}
#email-link::after {
    content: " ";
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--text);
    transition: width 0.5s;
    opacity: 75%;
}
#email-link:hover::after {
    width: 100%;
}
#message-text {
    background: radial-gradient(#aad2b5, #757fb6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
#bottom-nav-container {
    display: none;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
}
@media only screen and (max-width: 768px) {
    .bottom-link {
        display: none;
    }
    #contact-itm1 {
        grid-column: 1 / 5;
        grid-row: 1 / 3;
        text-align: center;
    }
    #email-link {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #socials-center-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #contact {
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    #bottom-nav-container {
        display: flex;
    }
    #contact-items {
        padding-bottom: 50px;
    }
}

/* footer */
footer {
    text-align: center;
    padding: 1%;
    overflow: hidden;
    color: var(--text);
    opacity: 75%;
}
#author-footer a {
    text-decoration: none;
    color: var(--text);
}

/* marquee intros for section titles */
.marquee, .mobile-title {
  height: 100px;
  width: 100%;
  overflow: hidden;
  position: relative;
  font-size: 90px;
  font-weight: 650;
  opacity: 50%;
  margin-bottom: 50px;
  margin-top: 10px;

  font-family: "Rubic", sans-serif;
  color: var(--primary);
  -webkit-text-fill-color: var(--secondary);
  -webkit-text-stroke: 3px var(--primary);
}
#dark-mq, #dark-secondary {
    color: #1a2932;
    -webkit-text-fill-color: #1a2932;
}
.marquee div {
  display: block;
  width: 200%;
  height: 100px;
  position: absolute;
  overflow: hidden;
  animation: marquee 15s linear infinite;
}
.marquee span {
  float: left;
  width: 50%;
}
@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
.mobile-title {
    display: none;
}
@media only screen and (max-width: 768px) {
    #dark-mq, #light-mq {
        display: none;
    }
    #dark-secondary, #light-secondary {
        display: block;
    }
}
@media only screen and (max-width: 500px) {
    .mobile-title {
        font-size: 70px;
        margin-bottom: 30px;
        text-align: center;
    }
}
@media only screen and (max-width: 425px) {
    .mobile-title {
        font-size: 60px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
}

/* socials bars */
.bottom-social-bar {
	display: flex;
	width: 200px;
	height: 60px;
    padding-top: 20px;
}
.other-social-bar {
	display: flex;
	width: 50px;
    margin-top: 25px;
}
#gci-social-bar {
	width: 100px;
}
.bottom-socials-item {
    display: flex;
    background: rgba(255, 255, 255, 0.10);
	border-radius: 50%;
	position: static;
	width: 40px;
	height: 40px;
	margin-block: auto;
	margin-inline: auto;
	justify-content: center;
	align-items: center;
	cursor: pointer;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0.5px solid rgba(255, 255, 255, 0.23);
    border: 1px solid rgba(255, 255, 255, 0.23);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.23) inset;
    transition: width 0.5s, height 0.5s, transform 0.5s;
}
.bottom-socials-item img {
    opacity: 75%;
}
.bottom-socials-item:hover {
    background: none;
    transform: scale(1.1);
}

/* blobs css */
.blob {
    height: 30vmax;
	aspect-ratio: 1;
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	filter: blur(100px);
    z-index: -99;
    opacity: 50%;
}
#blob-left {
    transform: translate(-170%, -70%);
	background: linear-gradient(var(--secondary), var(--accent));
}
#blob-right {
    transform: translate(30%, -5%);
	background: linear-gradient(var(--accent), var(--secondary));
}
#blob-top {
    transform: translate(100%, -170%);
	background: var(--accent);
}
#blob-mobile-nav-1 {
    transform: translate(0%, 0%);
	background: var(--accent);
}
#blob-mobile-nav-2 {
    transform: translate(-125%, -175%);
	background: linear-gradient(var(--accent), var(--secondary));
}